<%= stylesheet_link_tag "application.css" %>

<% content_for :title, "Add a New Movie!" %>

<h1>New movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Back to movies", movies_path %>
</div>
