/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
  background-color: lightblue;
  text-align: center;
}
 
h1 {
  text-align: center;
  font-family: "Times New Roman", Georgia, sans-serif;
  color: blue;
}

p, a {
  text-align: center;
  font-family: "Copperplate";
  color: black;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid;
  text-align: center;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #0;
  font-family: "Copperplate";
}

th {
  background-color: #f2d2d2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}

.center_table {
  margin-left: auto;
  margin-right: auto;
}

.highlighter1 {
  background-color: #d2a2a2;
}

.highlighter2 {
  background-color: #a2d2a2;
}